<style>

body {
    margin-top: 2vh;
    padding-bottom: 2em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@media print {
    body {
        padding-bottom: 0;
        padding-top: 0
    }
    #dsq-2,
    .no-print-fisco {
        display: none!important
    }
}
#davidfiscobrand {
    font-weight: 700;
    letter-spacing: .0625em
}
#davidfiscobrand:hover {
    cursor: default
}
#site-search-form {
    margin-left: 0;
    opacity: .8;
    padding-left: 0
}
#site-search-form .input-group {
    width: 310px
}
#site-search-form input.form-control {
    width: 100%
}
#bottom-navbar-bootstrap-fisco .navbar-collapse {
    padding-left: 0
}
#variable-setter-fisco {
    display: none
}
.addthis-sm-plus-gif {
    border: 0;
    height: 16px;
    width: 16px
}
#payload-fisco>div.well-sm {
    margin-top: 2em
}
article>footer {
    clear: both;
    padding-top: 2em
}
.image-pulled-right {
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em
}
.fisco-bootstrap-menu-icon-left {
    display: inline-block!important;
    font-size: 14px!important;
    width: 20px!important;
    text-align: center!important;
    margin-right: 8px!important
}
.navbar-fixed-bottom {
    -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 -2px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, .1)
}
.navbar-fixed-top {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}
.twitter-blue {
    color: #4099FF
}
.navbar-inverse .topic-label,
.navbar-inverse a.navbar-brand {
    color: #f5f5f5!important
}
.navbar-inverse li#main-topic-label a {
    color: #fff!important
}
#site-search-form::-webkit-input-placeholder {
    color: #000!important
}
#site-search-form:-moz-placeholder {
    color: #000!important
}
#site-search-form::-moz-placeholder {
    color: #000!important
}
#site-search-form:-ms-input-placeholder {
    color: #000!important
}
#site-search-form input:focus::-webkit-input-placeholder {
    color: gray!important
}
#site-search-form input:focus:-moz-placeholder {
    color: gray!important
}
#site-search-form input:focus::-moz-placeholder {
    color: gray!important
}
#site-search-form input:focus:-ms-input-placeholder {
    color: gray!important
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: 700
}
.navbar-inverse .navbar-nav>li>a span#schema-article-articlesection:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #add8e6
}
li a.history-button-fisco {
    font-size: 18px;
    padding-right: 0
}
li a.history-button-fisco.up-fisco {
    font-size: 22px
}
li a.history-button-fisco {
    padding-left: 10px
}
ul li:first-child a.history-button-fisco {
    padding-left: 15px
}
.smaller-text-fisco {
    font-size: smaller
}
.panel-default {
    border-color: #000
}
.prefix-fa-caret-right-fisco:before {
    content: "<i class='fa fa-caret-right'></i>&nbsp;"
}
.prefix-fa-caret-down-fisco:before {
    content: "<i class='fa fa-caret-down'></i>&nbsp;"
}


    #fisco-page-share-bar {
      font-size: 1.2em;
      text-align: center;
    }

    #fisco-page-share-bar a {
      margin-right: .25em;
    }

    #fisco-page-share-bar a:last-of-type {
      margin-right: 0;
    }

    #site-bar .contact-icons a {
      margin-right: .25em;
    }

    #site-bar .contact-icons a:last-of-type {
      margin-right: 0;
    }

span#fisco-page-title-in-breadcrumb {
	color: black;
	font-size: 1.15em;
	font-weight: bold;
}

@media (min-width: 992px) {
    .pull-right-md-lg {
        float: right;
    }
}

iframe.googleDoc {
  height: 65vh;
  width: 100%;
}

.blogDateBlock {
    color: grey;
    text-align: right;
}

#site-header-breadcrumbs div.inactive span.addCaret::after {
    color: grey;
    content: ">";
    margin-left: .5em;
    margin-right: .5em;
    font-size: .9em;
}

#searchDavidFiscoDialogLabel {
  text-align: left;
}

.dropdown-menu .accentuate-fisco {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

/* FOR BOTTOM-ALIGNING ROWS */
.bottom-align-row {
    font-size: 0;
}
.bottom-align-row > * {
    float: none;
    display: inline-block;
    /* font-size: 14px; This MUST be set on the elements because of the directive above. */
}
.bottom-align-row > *:last-child {
    vertical-align: bottom;
}
.bottom-align-row p:last-child {
    margin-bottom: 0; /* optional */
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #site-bar-row-1 .fisco-brand {
    text-align: center;
  }
  #site-header-breadcrumbs ol {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
    body {
        margin: 1em !important;
    }
    #site-header-breadcrumbs {
      text-align: left;
    }
}

@media screen and (max-width: 425px) {
    #site-header-breadcrumbs, #fisco-page-header {
      margin-bottom: 0 !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/* Here begins a hack at responsive typography.
   This should be removed for Bootstrap v4 */

   html, body {
     font-size: 14px;
   }

  @media screen and (min-width: 769px) {
     html, body {
       font-size: 16px;
       line-height: 1.5;
     }
   }

   #payload-fisco {
     margin-top: 3vh;
   }

  #payload-fisco h1 {
    font-size: 2.3rem;
  }

  #payload-fisco h2 {
    font-size: 2.1rem;
    font-style: italic;
  }

  #payload-fisco :not(div.popover) h3 {
    font-size: 1.9rem;
  }

  #payload-fisco h4 {
    font-size: 1.7rem;
    font-style: italic;
  }

  #payload-fisco h5 {
    font-size: 1.5rem;
  }

  #payload-fisco h6 {
    font-size: 1.3rem;
    font-style: italic;
  }

/* End hack */

</style>
