<script>
    if (window.location.search == '?q=node/23') {
        window.location.href = 'http://generalapps.davidfisco.com/synonymical/play';
    }
    if (window.location.search == '?q=node/27') {
        window.location.href = 'http://generalapps.davidfisco.com/dcw';
    }
    if (window.location.search == '?q=node/143') {
        window.location.href = 'http://productivity.davidfisco.com/2007/12/gtd-desktop-wallpaper-version-10.html';
    }
    if (window.location.search == '?q=node/109') {
        window.location.href = 'http://productivity.davidfisco.com/2010/02/simple-calc-workbook-for-gtd-version-11.html';
    }
    if (window.location.href == 'http://www.davidfisco.com/node/201') {
        window.location.href = 'http://foodie.davidfisco.com/2011/05/canola-oil-and-white-cake.html';
    }
    if (window.location.href == 'http://www.davidfisco.com/node/168') {
        window.location.href = 'http://software.davidfisco.com/2008/09/experimental-code-lies-ahead-it-is.html';
    }
    if (window.location.href == 'http://www.davidfisco.com/synonymical.php') {
        window.location.href = 'http://generalapps.davidfisco.com/synonymical/play';
    }
    if (window.location.href == 'http://www.davidfisco.com/dcwindex.php') {
        window.location.href = 'http://generalapps.davidfisco.com/dcw';
    }
    // Redirect home page:
    /* if ((document.location.host === 'www.davidfisco.com') && (document.location.pathname === '/')) {
        window.location.href = 'http://www.davidfisco.com/p/home-page.html';
    } */
</script>
