<div class="row" id="site-bar-row-1">
  <div class="col-xs-12 col-sm-10">
    <div style="display: inline-block; vertical-align: bottom;">{% include site-button-fisco.html %}</div>
    <div style="display: inline-block;
                vertical-align: bottom;
                line-height: 100%;">
                <a href="https://www.davidfisco.com/about.html" class="fisco-brand" style="color: inherit;
                                                                                           font-size: 2.1rem;
                                                                                           font-family: 'Alegreya Sans SC', sans-serif;
                                                                                           font-weight: 700;
                                                                                           text-decoration: inherit;">
                  <span style="color: silver;">David</span><span>Fisco</span>
                </a></div>
  </div>
  <div class="col-sm-2 text-right visible-sm visible-md visible-lg">{% include site-search-button-fisco.html %}</div>
</div>
