<div class="dropdown pull-left">
  <button class="btn btn-default dropdown-toggle" style="margin-right: .4em" title="Site menu" type="button" id="siteDropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a class="accentuate-fisco" href="http://www.davidfisco.com/about.html">About David Fisco...</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header accentuate-fisco">Site Topics</li>
    <li><a href="http://generalapps.davidfisco.com/dcw">Dave's Choice Words</a></li>
    <li><a href="http://generalapps.davidfisco.com/dcw/sort">Dave's Choice Words: Sort!</a></li>
    <li><a href="http://foodie.davidfisco.com">Foodie</a></li>
    <li><a href="http://languagearts.davidfisco.com/">Language Arts</a></li>
    <li><a href="http://personal-wikis.davidfisco.com">Personal Wikis</a></li>
    <li><a href="http://philosophy.davidfisco.com/">Philosophy (Objectivism)</a></li>
    <li><a href="http://productivity.davidfisco.com/">Productivity</a></li>
    <li><a href="http://rote.davidfisco.com/">Rote: Shakespeare</a></li>
    <li><a href="http://software.davidfisco.com/">Software</a></li>
    <li><a href="http://generalapps.davidfisco.com/synonymical/play">Synonmical</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header accentuate-fisco">Contact</li>
    <li><a href="mailto:dave@davidfisco.com">Email David Fisco</a></li>
    <li><a href="https://docs.google.com/a/davidfisco.com/forms/d/1owZHNQmZIrgWpuz3G6peKm-9JV8Ulypz4K5VLTdHen8/viewform" target="_blank">Email David Fisco via Web Form</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header" style="font-size: 1.2em; font-weight: bold; color: black;">Social media</li>
    <li id='david-fisco-on-google-plus'>
      <a class='' href='https://plus.google.com/116734396562610707415' title='Follow David Fisco on Google+'>
        Google+
      </a>
    </li>
    <li><a href="https://twitter.com/davidfisco">Twitter</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="accentuate-fisco" href="#" onclick="event.preventDefault(); $('#searchDavidFiscoDialog').modal('show');">Search...</a></li>
  </ul>
</div>
