<div class="a2a_kit a2a_kit_size_20 a2a_default_style" style="display: flex; justify-content: center; margin-top: .5rem;">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_email" title="Send page by email"></a>
    <a class="a2a_button_facebook" title="Share on Facebook"></a>
    <a class="a2a_button_twitter" title="Share on Twitter"></a>
    <a class="a2a_button_google_plus" title="Share on Google+"></a>
    <a class="a2a_button_linkedin" title="Share on LinkedIn"></a>
    <a class="a2a_button_reddit" title="Share on reddit"></a>
</div>
