<!doctype html>
<html lang="en_US">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.includeHomepageRedirects == 'yes' %}
      {% include homepage-redirects-fisco.html %}
    {% endif %}

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="David Fisco">
    <meta name="theme-color" content="#3F51B5">

    {% include seo-fisco.html %}
    {% include favicons-fisco.html %}
    {% include libraries/bootstrap-3-current-css-link.html %}
    {% include libraries/font-awesome-personal-cdn-link.html %}
    {% include general-css.html %}

    {% include libraries/ie-html5shim.html %}

    {% include libraries/jquery-current-script.html %}

    {% include libraries/google-analytics.html %}

    {% include libraries/add-to-any.html %}

    {% if page.imagetwitter %}
      <meta name="thumbnail" content="{{ page.imagetwitter }}" />
    {% endif %}

    <link rel="dns-prefetch" href="//disqus.com">

    {% include page-schema.html %}

    {% include keywords.html %}

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700?text=DavidFisco" rel="stylesheet">

    {% include piwik.html %}

</head>

<body>

  <div  class="container">

    {% include breadcrumbs-with-title-fisco.html %}

    <span id="before-payload-fisco"></span>

    <main class="row"
          id='payload-fisco'
          itemid="#mainContentOfPage"
          itemscope itemtype="https://schema.org/WebPageElement">
      <div class="col-xs-12">
        {{ content | smartify }}
      </div>
    </main>

    <span id="after-payload-fisco"></span>

    {% if page.disqus_shortname and page.disqus_shortname.size > 0 %}{% include disqus-thread.html %}{% endif %}

    {% include libraries/pinterest-hover.html %}

    {% if page.excludeSocialMedia != 'yes' %}
      {% include social-media-share-bar.html %}
    {% endif %}

    <div class="small text-muted" style="margin-top: 4em;">
        {% include legal-information-for-page-fisco.html %}
    </div>


  </div>

  {% comment %}{% include site-footer-fisco.html %}{% endcomment %}
  {% include site-search-modal-fisco.html %}

  <!-- JavaScript: bottom of page for performance reasons. -->
  {% include libraries/bootstrap-3-current-js-link.html %}
  {% include libraries/bootstrap-dismiss-popovers-with-click.js %}
  {% include libraries/underscore-current-script.html %}
  {% include libraries/rag-adjust.html %}
  {% include libraries/google-analytics-additional-tracking.js %}
  {% include libraries/google-analytics-page-print-intent.html %}
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  {% include site-sidebar-button-fisco.html %}

</body>

</html>
